.home {
  background-image: url(./guernica.jpg);
  height: 35em;
}

.home h1 {
  color: #fff;
  font-size: 4em;
  text-align: center;
}

.home p {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.about {
  background-color: #33495D;
  height: 15em;
}

.about .prof {
  padding: 3%;
  background-color: inherit;
  height: 100%;
}

.about .bio {
  padding: 3%;
  background-color: inherit;
  height: 100%;
  color: #33F3A4;
}

.projects {
  background-color: #33495D;
}
